body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
}

body {
    font-weight: 300;
    border-top: 2px solid #00aeed;
    overflow-x: hidden;
}

select,
textarea,
input[type="text"],
input[type="password"] {
    width: 100%;
    border: 1px solid #e6dfd9;
    padding: 10px 5px;
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt30 {
    margin-top: 30px;
}

.mt45 {
    margin-top: 45px;
}

.sweet-alert button {
    border-radius: 0;
}

.wrapper {
    min-height: 80%;
}

.nowrap {
    white-space: nowrap;
}

.select2 {
    margin-top: 10px;
}

.img-circle {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.select2-container--default .select2-selection--single {
    padding: 6px 5px;
    border-radius: 0;
    border: 1px solid #e6dfd9;
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: auto;
    top: auto;
    right: 8px;
    width: 20px;
    bottom: 20px;
}

select.lg-input,
input[type="text"].lg-input,
input[type="password"].lg-input {
    padding: 15px 10px;
}

.select2-search__field:focus,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    outline: 0;
    border-color: #ccc5c0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default.select2-container--focus.select2-container--below .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--focus.select2-container--below .select2-selection--single {
    outline: 0;
    border-color: #ccc5c0;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #f1f1f1;
    color: #000;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-padding {
    padding: 0;
}

input[type="radio"],
input[type="checkbox"]:not(.default) {
    display: none;
}

input[type="checkbox"]:not(.default) + label span {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin: -1px 8px 0 0;
    vertical-align: middle;
    background: url(/images/Web/checkbox.png) no-repeat;
    cursor: pointer;
    color: #616161;
    font-size: 14px;
    background-color: #fff;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: -1px 8px 0 0;
    vertical-align: middle;
    background: url(/images/Web/radio.png) no-repeat;
    cursor: pointer;
    color: #616161;
    font-size: 14px;
}

input[type="checkbox"]:not(.default).checkbox-small + label span {
    background: url(/images/Web/checkbox-small.png) no-repeat;
    background-color: #fff;
    width: 15px;
    height: 15px;
}

input[type="checkbox"]:not(.default):checked + label span {
    background: url(/images/Web/checkbox-c.png);
    background-color: #fff;
}

input[type="radio"]:checked + label span {
    background: url(/images/Web/radio-c.png);
}

input[type="checkbox"].checkbox-small:checked + label span {
    background: url(/images/Web/checkbox-small-c.png) no-repeat;
}

.select2-selection__placeholder,
*::-webkit-input-placeholder {
    color: #676767 !important;
}

*:-moz-placeholder {
    color: #676767;
    opacity: 1;
}

*::-moz-placeholder {
    color: #676767;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #676767;
}

.checkbox-block {
    margin-top: 10px;
}

.radio-block > label,
.checkbox-block > label {
    cursor: pointer;
}

.clock-icon {
    background-image: url(/images/Web/clock.png);
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -5px;
    margin-right: 5px;
}

.status-icon {
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 5px;
}

.status-icon.alert {
    background-image: url(/images/Web/status-alert.png);
    width: 13px;
    height: 12px;
}

.status-icon.success {
    background-image: url(/images/Web/status-success.png);
    width: 13px;
    height: 10px;
}

.breadcrumb {
    filter: none;
    background: rgb(61, 77, 111);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkNGQ2ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzRlOGY5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzNkNGQ2ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left, rgba(61, 77, 111, 1) 0%, rgba(78, 143, 149, 1) 50%, rgba(61, 77, 111, 1) 99%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(61, 77, 111, 1)), color-stop(50%, rgba(78, 143, 149, 1)), color-stop(99%, rgba(61, 77, 111, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(61, 77, 111, 1) 0%, rgba(78, 143, 149, 1) 50%, rgba(61, 77, 111, 1) 99%);
    background: -o-linear-gradient(left, rgba(61, 77, 111, 1) 0%, rgba(78, 143, 149, 1) 50%, rgba(61, 77, 111, 1) 99%);
    background: -ms-linear-gradient(left, rgba(61, 77, 111, 1) 0%, rgba(78, 143, 149, 1) 50%, rgba(61, 77, 111, 1) 99%);
    background: linear-gradient(to right, rgba(61, 77, 111, 1) 0%, rgba(78, 143, 149, 1) 50%, rgba(61, 77, 111, 1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d4d6f', endColorstr='#3d4d6f', GradientType=1);
    -webkit-box-shadow: inset -1px 5px 46px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset -1px 5px 46px -5px rgba(0, 0, 0, 0.5);
    box-shadow: inset -1px 5px 46px -5px rgba(0, 0, 0, 0.5);
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    overflow: hidden;
}

.pickadate {
    background: url(/images/Web/calendar.png) no-repeat center right 5%
}

ul {
    list-style: none;
}

ul.disc {
    list-style: disc;
    padding-left: 20px;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: 0;
}

.input-icon {
    padding-left: 50px !important;
    background-position: left 15px center;
    background-repeat: no-repeat;
}

.input-icon-mail {
    background-image: url(/images/Web/input-mail.png);
}

.input-icon-password {
    background-image: url(/images/Web/input-password.png);
}

.input-icon-profile {
    background-image: url(/images/Web/input-profile.png);
}

.heading-arrow-icon {
    padding-left: 30px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(/images/Web/heading-arrow.png);

}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.blue-color:hover,
.blue-color:active,
.blue-color:focus,
.blue-color {
    color: #25a7e5;
}

.green-color:hover,
.green-color:active,
.green-color:focus,
.green-color {
    color: #26c4ab;
}

.white-color {
    color: #fff;
}

a.green-color:hover,
a.blue-color:hover {
    text-decoration: underline;
}

.time-left {
    font-weight: 600;
}

.push-left {
    float: left;
}

.push-right {
    float: right;
}

.navigation {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
}

.navigation .nav-items li {
    display: inline-block;
    line-height: 40px;
}

.navigation .nav-items li > a {
    margin: 0 10px;
}

.navigation .nav-items li > a:not(.btn) {
    margin-right: 40px;
    font-weight: 600;
}

.navigation .nav-items li > a:not(.btn):hover {
    color: #476e84;
    border-bottom: 2px solid #476e84;
}

.navigation .nav-items li > a {
    color: #707070;
}

.btn {
    border: 0;
    outline: 0;
    padding: 7px 25px;
    color: #fff;
    text-align: center;
    display: inline-block;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.btn:hover {
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.btn:hover,
.btn:focus {
    border: 0;
    outline: 0;
    color: #fff;
}

.btn-big {
    padding: 10px 45px;
    font-size: 18px;
}

.btn-fluid {
    width: 100%;
}

.btn-white {
    background-color: #fff;
    color: #676767;
}

.btn-white:hover {
    background-color: #e7e7e7;
    color: #333;
}

.btn-blue {
    background-color: #25a7e5;
    color: #fff;
}

.btn-blue:hover {
    background-color: #0997de;
}

.btn-darkblue {
    background-color: #365983;
    color: #fff;
}

.btn-darkblue:hover {
    background-color: #1f3c5e;
}

.btn-red {
    color: #fff;
    background-color: #ee4f4f;
}

.btn-red:hover {
    background-color: #d73535;
}

.btn-green {
    background-color: #26c4ab;
    color: #fff !important;
}

.btn-green:hover {
    background-color: #1db198;
}

.btn-facebook {
    background-color: #3b5998;
    color: #fff;
}

.btn-facebook:hover {
    background-color: #406eb2;
}

.hidden {
    display: none;
}

.errorMessage {
    font-size: 12px;
    color: #cc3333;
}

/* remodal-rules */
.remodal-rules p {
    font-size: 12px;
    font-weight: 400;
}

.remodal-rules p.heading1 {
    font-size: 22px;
    font-weight: 600;
}

.remodal-rules p.heading2 {
    font-size: 18px;
    font-weight: 600;
}

.remodal-rules p.heading3 {
    font-size: 18px;
}

.legend {
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}

.footer {
    margin-top: 60px;
}

/* login-form */
#login-form .btn {
    margin-top: 10px;
}

#login-form .heading {
    padding: 15px 0;
    font-size: 20px;
    font-weight: 200;
}

#login-form .forgot-password {
    margin-top: 15px;
}

/* site-maintenance */
#site-maintenance {
    background-color: #f1f1f1;
}

#site-maintenance > .container {
    height: 100vh;
    margin-top: -2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#site-maintenance > .container .flex-center {
    font-size: 20px;
    color: #bbb;
}

#site-maintenance > .container .logo {
    margin-bottom: 20px;
}

/* site-index */
#site-index .navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#site-index .heading-description {
    margin: 80px 0;
    color: #969fa6;
    font-size: 24px;
    font-weight: 300;
}

#site-index .grey-background {
    background-color: #fdf9f6;
}

#site-index .features .feature {
    width: 20%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
}

#site-index .features .feature .icon {
    background-image: url(/images/Web/outline-hex.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    vertical-align: middle;
    display: inline-block;
    width: 146px;
    height: 160px;
}

#site-index .features .feature .heading {
    margin-top: 20px;
    font-size: 18px;
    color: #676767;
    font-weight: 600;
}

#site-index .features .feature .description {
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 300;
    margin-top: 20px;
}

#site-index .registration {
    margin-top: 100px;
}

#site-register .registration {
    margin-top: 40px;
}

#site-register .registration .heading,
#site-index .registration .heading {
    font-size: 32px;
    font-weight: 300;
}

#site-index .registration .form {
    margin-top: 40px;
}

#site-register .registration .form {
    margin-top: 20px;
}

#site-index .registration > .register-employer .form {
    border-right: 1px solid #e4e4e4;
    padding-right: 40px;
}

#site-index .registration .form input:first-child {
    margin-top: 0;
}

#site-index .registration > .register-worker {
    padding-left: 30px;
}

#site-register .registration .form input[type="text"],
#site-register .registration .form input[type="password"],
#site-index .registration .form input[type="text"],
#site-index .registration .form input[type="password"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

#site-register .registration .form .btn,
#site-index .registration .form .btn {
    margin-top: 25px;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#site-index .our-clients {
    margin-top: 80px;
}

#site-index .our-clients .client-logos {
    margin-top: 20px;
}

#site-index .our-clients .heading {
    font-size: 20px;
    color: #252424;
    font-weight: 400;
}

#site-index .quote-bg {
    margin-top: 50px;
    background-image: url(/images/Web/quote-bg.png);
    background-position: center center;
    min-height: 320px;
    padding-bottom: 20px;
    background-size: cover;
}

#site-index .quote {
    color: #5b5b5b;
    font-size: 28px;
    line-height: 1.6;
    padding-top: 60px;
}

#site-index .author {
    color: #0e927d;
    margin-top: 25px;
    padding: 10px 0;
    border-top: 1px solid #0e927d;
    border-bottom: 1px solid #0e927d;
    font-weight: 600;
}

.logo {
    margin-top: 2px;
}

body[data-controller="Employer"][data-action="Reviewselection"] .footer,
body[data-controller="Site"][data-action="Index"] .footer {
    margin-top: 0;
}

/* navigation icon */
.nav-items .icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-items .icon-logout {
    background-image: url('/../../images/Web/logout.png');
    height: 17px;
    width: 10px;
    margin-right: 0 !important;
    border-bottom: 0 !important;
}

.nav-items .icon-selection {
    background-image: url('/../../images/Web/selection.png');
    height: 21px;
    width: 14px;
}

.nav-items .icon-settings {
    background-image: url('/../../images/Web/settings.png');
    width: 17px;
    height: 21px;
}

.nav-items .icon-question {
    background-image: url('/../../images/Web/question.png');
    width: 13px;
    height: 21px;
}

.nav-items .icon-exit {
    background-image: url('/../../images/Web/close.png');
    width: 25px;
    height: 44px;
    margin-right: 0 !important;
    border-bottom: 0 !important;
}

/* footer */
.footer .footer-links {
    background-color: #0e927b;
}

.footer .footer-links a {
    color: #fff;
    font-size: 14px;
}

.footer .footer-links a:hover {
    text-decoration: underline;
}

.footer .footer-links ul {
    margin: 0;
}

.footer .footer-links li {
    line-height: 60px;
    display: inline-block;
}

.footer .footer-links li:not(:last-child):after {
    margin: 0 15px;
    color: #1db99e;
    content: '|';
}

.footer .copyrights a,
.footer .copyrights {
    color: #a9a9a9;
    font-size: 12px;
    line-height: 40px;
}

/* employer-createselection */
#employer-createselection > .container {
    padding: 40px 0 70px 0;
}

/* steps */
#steps {
    background-color: #25c4a9;
    padding: 15px 0;
}

#steps li {
    display: inline-block;
    text-align: center;
}

#steps .step-number.active {
    border: 3px solid #fff;
    color: #fff;
}

#steps .step-number {
    border: 3px solid #37dabe;
    color: #37dabe;
    border-radius: 9999px;
    height: 40px;
    width: 40px;
    line-height: 34px;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
}

#steps .seperator {
    width: 210px;
    border-top: 4px dashed #37dabe;
    height: 55px;
    margin: 0 -5px;
}

#steps .seperator.active {
    border-top-style: solid;
    border-top-color: #fff;
}

#steps .step-description {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
    width: 150px;
}

#password-form input,
#selection-form input,
#selection-form select,
#selection-form textarea {
    margin-top: 30px;
    padding: 10px 15px;
}

#selection-form .checkbox-block {
    margin-top: 30px;
}

#selection-form textarea {
    resize: horizontal;
}

#selection-form .select2 {
    margin-top: 30px;
}

#selection-form .add-field {
    margin-top: 30px;
    cursor: pointer;
    padding: 10px 0;
}

#selection-form .add-field:hover {
    text-decoration: underline;
}

#selection-form .add-field > span {
    background-repeat: no-repeat;
    background-image: url('/../../images/Web/add-field.png');
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 15px;
}

#selection-form .competence-field-group > span {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('/../../images/Web/remove-field.png');
    height: 10px;
    width: 10px;
    top: 51px;
    right: -23px;
    cursor: pointer;
}

#selection-form .competence-fields .competence-field-group:first-child > span {
    display: none;
}

/* employer-hostselection */
#employer-hostselection > .container {
    padding: 70px 0;
}

#employer-hostselection .selection-position {
    background-color: #029ede;
    color: #fff;
    padding: 15px;
    font-size: 22px;
    font-weight: 600;
}

#employer-hostselection .selection-alert {
    background-color: #fff4db;
    padding: 15px;
    color: #8c8c8c;
}

#employer-hostselection .selection-alert > span.alert {
    background-image: url('/../../images/Web/alert.png');
    background-repeat: no-repeat;
    height: 40px;
    vertical-align: middle;
    background-position: left center;
}

#employer-hostselection .choose-hosting-type {
    margin-top: 25px;
}

#employer-hostselection .choose-hosting-plan {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #e6dfd9;
}

.gradient-container {
    background: rgb(74, 126, 140);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhN2U4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MTU4NzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(74, 126, 140, 1) 0%, rgba(65, 88, 120, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(74, 126, 140, 1)), color-stop(100%, rgba(65, 88, 120, 1)));
    background: -webkit-linear-gradient(top, rgba(74, 126, 140, 1) 0%, rgba(65, 88, 120, 1) 100%);
    background: -o-linear-gradient(top, rgba(74, 126, 140, 1) 0%, rgba(65, 88, 120, 1) 100%);
    background: -ms-linear-gradient(top, rgba(74, 126, 140, 1) 0%, rgba(65, 88, 120, 1) 100%);
    background: linear-gradient(to bottom, rgba(74, 126, 140, 1) 0%, rgba(65, 88, 120, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a7e8c', endColorstr='#415878', GradientType=0);
    margin-top: 45px;
}

#employer-hostselection .actions {
    margin-top: 25px;
    margin-bottom: 25px;
    display: none;
}

#price-table tr > td:last-child {
    text-align: right;
}

#price-table {
    color: #fff;
    padding-top: 45px;
}

#price-table tr {
    border-bottom: 1px solid #ddd;
}

#price-table td {
    padding: 25px 15px;
    font-size: 14px;
    font-weight: 600;
}

#price-table .choose-params {
    font-size: 22px;
    padding-bottom: 45px;
    color: #fff;
}

#host-selection-form {
    margin-top: 45px;
    min-height: 800px;
}

#selection-form .picker {
    top: -270px;
}

#cvopen-host {
    height: 161px;
}

#employer-reviewselection strong {
    color: #676767;
    font-weight: 500;
}

#employer-reviewselection .legend {
    margin-bottom: 20px;
}

#employer-reviewselection .selection-basic-info td {
    width: 50%;
    padding: 2px 0;
}

#employer-reviewselection .selection-basic-info td:first-child {
    color: #676767;
    font-weight: 500;
}

#employer-reviewselection .selection-competence p {
    margin: 2px 0;
    padding: 0;
}

#employer-reviewselection .selection-hosting .legend {
    margin: 0 15px 0 0;
}

#employer-reviewselection .selection-hosting {
    padding: 20px 0;
    border-bottom: 1px solid #e6dfd9;
    margin: 25px 0;
}

#employer-reviewselection .fake-input {
    background: url(/images/Web/calendar.png) no-repeat center right 5%;
    width: 100%;
    border: 1px solid #e6dfd9;
    padding: 10px 5px;
    margin-top: 10px;
}

#employer-reviewselection .actions {
    margin-top: 25px;
    margin-bottom: 25px;
}

#employer-selections tbody tr:hover {
    background-color: #fbfbfb;
    cursor: pointer;
}

#employer-selections thead {
    background-color: #00aaff;
    line-height: 60px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#employer-selections thead td {
    white-space: nowrap;
}

#employer-selections table td {
    vertical-align: middle;
    padding: 0 15px;
}

#employer-selections tbody td {
    padding: 25px 15px;
    border-bottom: 1px solid #d5d5d5;
}

#employer-selections tbody td.actions {
    width: 115px;
}

#employer-selections .create-selection {
    margin-top: 40px;
}

#employer-selections .actions a {
    margin-right: 7px;
}

#employer-selections .legend {
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 22px;
}

#worker-selections .selection-table {
    margin-top: 40px;
    display: table;
    padding: 0;
    background-color: #fff;
}

#worker-selections .selection-tr {
    display: table-row;
}

#worker-selections .selection-tr > span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}

#worker-selections a.selection-tr > span {
    padding: 20px 5px;
    border-bottom: 1px solid #d5d5d5;
    color: #525252;
}

#worker-selections .selection-tr.thead > span {
    white-space: nowrap;
}

#worker-selections a.selection-tr:hover {
    background-color: #fbfbfb;
}

#worker-selections .thead {
    background-color: #00aaff;
    line-height: 60px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#worker-selections .before-table {
    margin-top: 15px;
    line-height: 70px;
}

#selection-view .pagination,
#worker-selections .pagination {
    line-height: 70px;
    font-size: 14px;
    font-weight: 600;
}

#selection-view .pagination a,
#worker-selections .pagination a {
    color: #676767;
}

#selection-view .yiiPager,
#worker-selections .yiiPager {
    margin: 0;
}

#selection-view .yiiPager li.page,
#worker-selections .yiiPager li.page {
    display: inline-block;
    margin: 0 5px;
}

#selection-view .yiiPager li.selected a,
#worker-selections .yiiPager li.selected a {
    color: #029ede;
}

#selection-view .social-share {
    margin-top: 20px;
}

#selection-view .share-selection {
    margin-top: 15px;
}

#worker-history-form textarea {
    resize: vertical;
    min-height: 250px;
}

#worker-selection .info-block {
    font-size: 14px;
    color: #8c8c8c;
    margin-top: 40px;
    margin-bottom: 20px;
}

#worker-selection .legend {
    font-size: 22px;
}

#worker-edit .history-empty,
#worker-selection .history-empty {
    padding: 30px 0 50px 0;
    color: #fff;
    font-size: 18px;
}

#worker-edit .history-empty {
    color: #333;
}

#worker-edit .worker-info,
#worker-selection .worker-info {
    margin-top: 30px;
}

#worker-edit .worker-info {
    margin-bottom: 15px;
}

#worker-edit .worker-info .image,
#worker-selection .worker-info .image {
    margin-bottom: 30px;
}

#worker-edit .worker-info .image .img-preview,
#worker-selection .worker-info .image .img-preview {
    height: 112px;
    width: 112px;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#worker-edit .worker-info .button,
#worker-selection .worker-info .button {
    margin-top: 10px;
}

#worker-edit .worker-info .button input,
#worker-selection .worker-info .button input {
    width: 136px;
    padding: 7px 0;
}

#worker-edit .worker-info textarea,
#worker-edit .worker-info input[type="text"],
#worker-selection .worker-info textarea,
#worker-selection .worker-info input[type="text"] {
    padding: 10px;
    margin-top: 25px;
}

#worker-edit .inline-elements,
#worker-selection .inline-elements {
    margin-top: 30px;
    margin-bottom: 8px;
}

#worker-edit .inline-elements label,
#worker-selection .inline-elements label {
    margin-right: 10px;
}

#worker-edit .inline-elements > *,
#worker-selection .inline-elements > * {
    display: inline-block;
    line-height: 30px;
}

#worker-edit .worker-info input[name="Worker[firstname]"],
#worker-edit .worker-info .select2,
#worker-selection .worker-info input[name="Worker[firstname]"],
#worker-selection .worker-info .select2 {
    margin-top: 0;
}

#worker-edit .worker-info textarea,
#worker-selection .worker-info textarea {
    min-height: 243px;
    resize: none;
}

#worker-edit .table,
#worker-selection .table {
    margin: 40px 0;
    width: 100%;
    padding: 0;
}

#worker-edit .table {
    margin: 20px 0;
}

#worker-edit .table tbody tr,
#worker-selection .table tbody tr {
    border-bottom: 1px solid #89a1b0;
    color: #525252;
}

#worker-edit .table tbody tr {
    border-color: #ececec;
}

#worker-selection .table tbody td {
    vertical-align: middle;
    padding: 20px 15px;
    color: #fff;
}

#worker-edit .table tbody td {
    vertical-align: middle;
    padding: 20px 15px;
}

#worker-edit .table tbody td:first-child,
#worker-selection .table tbody td:first-child {
    font-weight: 600;
}

#worker-edit .table td:last-child,
#worker-selection .table td:last-child {
    text-align: right;
}

#worker-edit .table thead,
#worker-selection .table thead {
    background-color: #00aaff;
    line-height: 60px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#worker-edit .table thead td,
#worker-selection .table thead td {
    padding: 0 15px;
}

#worker-edit .add-history,
#worker-selection .add-history {
    margin-bottom: 45px;
}

.remodal.history-form {
    max-width: 500px;
    padding: 20px;
}

#worker-history-form input {
    padding: 10px;
    margin-top: 20px;
}

#worker-history-form .pickadate {
    background-color: #fff;
}

#worker-history-form .picker {
    top: -279px;
}

#worker-history-form .checkbox-block {
    margin-top: 20px;
}

#worker-history-form input[type="submit"] {
    font-size: 14px;
    display: inline-block;
    width: 120px;
    margin: 0 0 5px;
    padding: 9px 0;
    cursor: pointer;
    text-align: center;
}

#worker-history-form .actions {
    margin-top: 30px;
}

#worker-selection .choose-competence .legend {
    font-size: 22px;
}

#worker-selection .choose-competence .competences {
    margin: 20px 0 35px 0;
}

#worker-selection .choose-competence .competence {
    border: 1px solid #e3e3e3;
    color: #8c8c8c;
    padding: 7px 20px;
    border-radius: 1px;
    cursor: pointer;
    margin: 6px;
    display: inline-block;
    float: right;
}

#worker-selection .choose-competence .competence:hover {
    border-color: #ccc;
}

#worker-selection .choose-competence .competence.active {
    color: #fff;
    background: #26c4ab;
    border-color: #26c4ab;
}

#worker-selection .row.border {
    border-right: 1px solid #ddd;
}

#worker-selection .form-end {
    margin-top: 40px;
}

#worker-selection .solve-test .description {
    margin-top: 40px;
    color: #8c8c8c;
}

#worker-selection .solve-test .btn {
    margin-top: 40px;
}

#worker-selection .save-button {
    margin-top: 25px;
}

#quiz-start .description {
    margin-top: 45px;
}

#quiz-start .start-button {
    margin-top: 45px;
}

#quiz-start > .container {
    min-height: 100%;
}

#site-error h1 {
    font-size: 150px;
    line-height: 1;
    margin: 0;
    margin-top: 170px;
}

#site-error h3 {
    font-weight: 300;
    font-size: 60px;
    margin: 0;
}

#site-error a.back {
    margin-top: 25px;
}

#quiz-solve .question-image .image {
    margin-top: 50px;
}

#quiz-solve .question-image .answers {
    margin-top: 15px;
    float: left;
}

#quiz-solve .question-image .number {
    margin-top: 15px;
    font-weight: 700;
    margin-left: -15px;
}

#quiz-solve .question-image .answers label {
    margin-left: -35px;
}

#quiz-solve .submit-button {
    margin-top: 25px;
}

#quiz-solve .question-text {
    font-weight: 400;
}

#quiz-solve .question-text .title {
    margin-top: 60px;
    font-size: 18px;
}

#quiz-solve .question-text .answers .radio-block {
    margin-top: 30px;
    font-size: 14px;
}

#quiz-solve .page,
#quiz-solve a.page {
    display: inline-block;
    border: 1px solid #ddd;
    margin-bottom: 4px;
    cursor: pointer;
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #333;
}

#quiz-solve .page.solved,
#quiz-solve a.page.solved {
    background-color: #0e927b;
    border-color: #0e927b;
    color: #fff;
    cursor: not-allowed;
}

#quiz-solve .page.current,
#quiz-solve a.page.current {
    color: #fff;
    background-color: #00aaff;
}

#quiz-solve .pager,
#quiz-solve .pager {
    margin-top: 30px;
}

#quiz-finish .preview-button {
    margin-top: 25px;
}

.preview-close {
    margin-top: 35px;
}

#quiz-finish .finish-text {
    margin-top: 40px;
    font-size: 18px;
}

#quiz-finish .finish-text span {
    font-weight: 700;
    color: #25c4a9;
}

#quiz-finish .finish-text .text-block {
    margin-top: 20px;
}

#order-cancel .red-block {
    background-color: #c45447;
    font-size: 18px;
    padding: 30px 0;
    color: #fff;
    margin-top: 50px;
}

#order-accept .green-block,
#quiz-finish .green-block {
    background-color: #25c4a9;
    font-size: 18px;
    padding: 30px 0;
    color: #fff;
    margin-top: 50px;
}

#order-cancel .red-block .title,
#order-accept .green-block .title,
#quiz-finish .green-block .title {
    font-weight: 700;
}

#order-cancel .red-block .description,
#order-accept .green-block .description,
#quiz-finish .green-block .description {
    margin-top: 20px;
}

#quiz-finish .bank-logos .or {
    margin: 30px 0;
}

#quiz-finish .bank-logos .logos {
    margin-top: 30px;
}

#faq-index .faq {
    margin-top: 60px;
}

#selection-candidate .types-block,
#faq-index .faq-block {
    padding: 25px 0;
    border-top: 1px solid #ddd;
}

#selection-candidate .types-block:last-child,
#faq-index .faq-block:last-child {
    border-bottom: 1px solid #ddd;
}

#selection-candidate .types-block .title,
#faq-index .faq-block .title {
    font-weight: 600;
    color: #525252;
}

#selection-candidate .types-block .more,
#faq-index .faq-block .more {
    line-height: 22px;
    background-color: #10ad91;
    vertical-align: middle;
    font-size: 21px;
    font-style: inherit;
    color: #fff;
    font-weight: 600;
    height: 22px;
    width: 22px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

#selection-candidate .types-block .more:after,
#faq-index .faq-block .more:after {
    content: '+';
}

#selection-candidate .types-block .description,
#faq-index .faq-block .description {
    color: #717171;
    line-height: 2;
    max-height: 0;
    padding: 0 15px;
    overflow: hidden;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
}

#selection-candidate .types-block.active .description,
#faq-index .faq-block.active .description {
    display: inherit;
    max-height: 1000px;
    padding: 15px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
}

#selection-candidate .types-block.active .more,
#faq-index .faq-block.active .more {
    background-color: #d5d5d5;
    line-height: 19px;
}

#selection-candidate .types-block.active .more:after,
#faq-index .faq-block.active .more:after {
    content: '-';
}

#selection-candidate .types-block.active .title,
#faq-index .faq-block.active .title {
    color: #10ad91;
}

#worker-view .title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
}

#worker-view .info-container {
    margin-top: 10px;
}

#worker-view .info-container .legend {
    margin-bottom: 15px;
}

#worker-view .main-info table td {
    padding: 5px 20px;
}

#worker-view .main-info table td:first-child {
    padding-left: 0;
    font-weight: 600;
}

#worker-view .to-selection {
    margin-top: 45px;
}

.success-page .description,
#order-paid .description,
#worker-success .description,
#user-recoverpassword .description,
#user-recoverpassword .description,
#employer-selectionsuccess .description,
#order-accept .description {
    margin-top: 10px;
}

.success-page .btn,
#employer-selectionsuccess .btn,
#order-paid .btn,
#worker-success .btn {
    margin-top: 15px;
}

#selection-view .back {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 600;
}

#selection-share .blue-heading-block,
#selection-view .blue-heading-block {
    background-color: #0af;
    height: 60px;
    margin-top: 25px;
    line-height: 60px;
    color: #fff;
    padding: 0 15px;
}

#selection-share .blue-heading-block .title,
#selection-view .blue-heading-block .title {
    font-weight: 600;
    font-size: 22px;
}

#selection-share .blue-heading-block .description,
#selection-view .blue-heading-block .description {
    font-size: 16px;
    font-weight: 400;
}

#selection-share .blue-heading-block .description span,
#selection-view .blue-heading-block .description span {
    margin-right: 15px;
    padding-right: 15px border-right : 1 px solid #fff;
}

#selection-view .filter {
    margin-top: 15px;
}

#selection-view .candidate-list {
    margin-top: 30px;
}

#selection-view .candidate {
    background-color: #f4f4f4;
    padding: 25px 10px 0 10px;
    margin-bottom: 20px;
    width: 100%;
}

#selection-view .candidate .full-width {
    margin: 0 -20px;
}

#selection-view .candidate .fullname {
    font-size: 18px;
    color: #676767;
    font-weight: 600;
    margin-top: 4px;
}

#selection-view .candidate .number,
#selection-view .candidate .age {
    color: #676767;
    min-height: 20px;
    line-height: 20px;
    font-size: 13px;
}

#selection-view .candidate .email {
    margin-top: 10px;
    min-height: 20px;
    line-height: 20px;
}

#selection-view .candidate .green-block {
    margin-top: 30px;
    background-color: #26c4ab;
    height: 70px;
    font-size: 14px;
    padding: 15px 10px;
    color: #fff;
}

#selection-view .candidate .green-block .percentage {
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
}

#selection-view .candidate .actions {
    line-height: 60px;
    height: 60px;
    background-color: #fafafb;
    margin-top: 25px;
}

#selection-view .candidate .actions .attributes > div {
    display: inline-block;
}

#selection-view .candidate .actions .attributes .starred-attr {
    margin-right: 15px;
}

#selection-view .candidate .actions .checkbox-block {
    margin-top: 0;
}

#selection-view .candidate .actions .more {
    font-weight: 600;
    margin-right: -10px;
    display: block;
}

#selection-view .candidate .actions .more:hover {
    background-color: #26c4ab;
    color: #fff;
}

#selection-candidate .types-score,
#selection-view .types-score {
    margin-top: 15px;
    float: left;
}

#selection-candidate .types-score .type,
#selection-view .types-score .type {
    margin: 10px 0;
}

#selection-candidate .types-score .progress,
#selection-view .types-score .progress {
    background-color: #dedede;
    height: 10px;
    margin-top: 5px;
}

#selection-candidate .types-score .progress > span,
#selection-view .types-score .progress > span {
    background-color: #26c5a9;
    width: 20%;
    display: block;
    height: 100%;
}

#selection-candidate .types-score .progress-percent,
#selection-view .types-score .progress-percent {
    font-size: 12px;
}

#selection-view .empty {
    padding: 50px 0;
    font-size: 18px;
}

.remodal.video {
    padding: 0;
}

.remodal.video .remodal-close:after {
    color: #fff;
    font-size: 40px;
}

.remodal.video .remodal-close:hover {
    background: none;
}

#selection-candidate .general-info {
    background-color: #fafafb;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 45px;
}

#selection-candidate .general-info .fullname {
    font-size: 18px;
    color: #676767;
    font-weight: 600;
    margin-top: 4px;
}

#selection-candidate .general-info .number,
#selection-candidate .general-info .age {
    color: #676767;
    min-height: 20px;
    line-height: 20px;
    font-size: 13px;
}

#selection-candidate .general-info .email {
    margin-top: 10px;
    min-height: 20px;
    line-height: 20px;
}

#selection-candidate .admin-comment .comment {
    margin-top: -5px;
    font-size: 12px;
}

#selection-candidate .types-score {
    margin-top: -5px;
}

#selection-candidate .green-block {
    background-color: #25c4a9;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

#selection-candidate .green-block a {
    color: #fff;
}

#selection-candidate .green-block .download .download-icon {
    background: url('/images/Web/download.png') no-repeat center center #10ad91;
    height: 40px;
    width: 40px;
    margin-left: 25px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

#selection-candidate .green-block .general-score span {
    font-size: 42px;
    margin-left: 25px;
    vertical-align: middle;
}

#selection-candidate .green-block .general-score sub {
    bottom: 0;
}

#selection-candidate .additional-info {
    background-color: #f4f4f4;
    padding: 20px 10px;
}

#selection-candidate .additional-info .salary {
    margin-bottom: 25px;
}

#selection-candidate .additional-info .salary span {
    font-size: 18px;
    color: #25c4a9;
    margin-left: 5px;
    font-weight: 600;
}

#selection-candidate .additional-info .competences .competence {
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 7px 15px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    display: inline-block;
}

#selection-candidate .additional-info .competences .competence.active {
    background-color: #25c4a9;
    border-color: #25c4a9;
    color: #fff;
}

.default-table {
    width: 100%;
}

.default-table td.green {
    color: #0e927b;
}

.default-table td.red {
    color: #ee4f4f;
}

.default-table th {
    text-transform: uppercase;
}

.default-table,
#selection-candidate .work-history .table {
    margin-top: 15px;
}

#selection-candidate .work-history .table th {
    text-transform: uppercase;
    text-align: left;
}

.default-table th,
.default-table td,
#selection-candidate .work-history .table th,
#selection-candidate .work-history .table td {
    padding: 15px 5px;
    font-weight: 400;
}

.default-table tr,
#selection-candidate .work-history .table tr {
    border-bottom: 1px solid #d5d5d5;
}

#selection-candidate .actions {
    padding: 20px 10px 25px 10px;
    background-color: #fafafb;
}

#selection-candidate .actions .attributes > div {
    display: inline-block;
    margin-right: 15px;
}

#selection-candidate .about-types {
    margin-top: 40px;
}

#selection-share .back,
#selection-candidate .back {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 600;
}

#employer-reviewselection .bill-info {
    padding: 20px 0 10px 0;
    border-top: 1px solid #e6dfd9;
    margin-top: 40px;
}

#user-recoverpassword input {
    margin-top: 10px;
}

#user-recoverpassword input[type="submit"] {
    padding: 11px 45px;
}

#user-recoverpassword .helper {
    font-size: 12px;
    color: #333;
    margin-top: 10px;
}

.navigation #login-button {
    margin-top: 0 !important;
}

.selection-share-table td.info {
    width: 20%;
}

.selection-share-table td.sent {
    font-size: 12px;
    color: gray;
}
